body {
    font-family: fantasy;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Reducir la opacidad del fondo */
    z-index: -1; /* Colocar por detrás del contenido del body */
}

.contenedor {
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-start;
}

h2 {
    text-align: center;
    margin: 0 10px; 
}
.boton {
display: inline-block; /* Permite que los elementos sean elementos de bloque en línea */
    padding: 10px 20px; /* Ajusta el espacio interno de los botones */
    background-color: rgb(44, 229, 161); /* Color de fondo del botón */
    color: black; /* Color del texto del botón */
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none; /* Elimina el subrayado del texto (por defecto en algunos navegadores) */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Añade esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
    margin-right: 10px;
}
.imagen2 {
    margin: 20px auto; /* Margen superior e inferior de 20px y centrar horizontalmente */
    max-width: 300px; /* Ancho máximo de la imagen */
}
.imagen2 img {
    display: block; /* Hacer que la imagen sea un bloque para aplicar márgenes automáticamente */
    width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantener la proporción de aspecto original */
    margin: 0 auto; /* Centrar la imagen horizontalmente dentro del contenedor */
}
h1 {
    font-size: 55px ;
    color: rgb(44, 229, 161);
    text-align: center;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

p {
    font-size: 30px;
    color: black;
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Distribuye las imágenes en columnas flexibles */
    gap: 20px; /* Espacio entre las imágenes */
    padding: 20px; /* Espacio interior de la galería */
}

.imagen {
    position: relative; /* Permite posicionar elementos internos relativamente */
    overflow: hidden; /* Oculta contenido que sobresale */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.imagen img {
    display: block; /* Elimina el espacio reservado para descender */
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    height: auto; /* Ajusta la altura de la imagen automáticamente */
    transition: transform 0.3s ease; /* Efecto de transición en la transformación */
}

.imagen:hover img {
    transform: scale(1.1); /* Escala la imagen al pasar el ratón */
}

.contenido {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-flotante {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* Asegura que esté por encima del contenido */
    margin-right: 30px;
    max-width: 600px;
}
.formulario {
    margin: 0 auto;
}

.campo {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type="submit"] {
    background-color: rgb(44, 229, 161);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(44, 229, 161);
}
.formulario h2{
    color:rgb(44, 229, 161) ;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}